In [211]:
import re
import csv
import time
import requests
import datetime
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [212]:
url = 'https://data.j-league.or.jp/SFMS01/search?competition_years=2006&competition_frame_ids=1' 
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')
records = soup.find_all('tr')
data = []
for record in records[:-9]:
    l = [field.text for field in record.find_all(['th','td'])]           
    data.append(l)

with open('./match_data_yearly/2006.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [213]:
df = pd.read_csv(f'./match_data_yearly/2006.csv')
club_and_id = pd.read_csv('./club_and_id.csv')

In [214]:
df

,年度,大会,節,試合日,K/O時刻,ホーム,スコア,アウェイ,スタジアム,入場者数,インターネット中継・TV放送
0,2006,Ｊ１,第１節第１日,03/04(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t16:04,\nＧ大阪\n,\n1-1\n,\n浦和\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t万博,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t20,916",ＮＨＫ総合／Ｊ ＳＰＯＲＴＳ（録）
1,2006,Ｊ１,第１節第２日,03/05(日),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t13:00,\n甲府\n,\n0-2\n,\n清水\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t小瀬,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14,277",山梨放送／テレビ静岡（録）／Ｊ ＳＰＯＲＴＳ（録）
2,2006,Ｊ１,第１節第２日,03/05(日),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t13:35,\nＦ東京\n,\n2-0\n,\n大分\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t味スタ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t22,531",ＢＳ－ｉ／ＭＸテレビ（録）／Ｊ ＳＰＯＲＴＳ（録）
3,2006,Ｊ１,第１節第２日,03/05(日),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:04,\n磐田\n,\n1-1\n,\n福岡\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t静岡,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t28,564",Ｊ ＳＰＯＲＴＳ
4,2006,Ｊ１,第１節第２日,03/05(日),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:04,\n名古屋\n,\n3-2\n,\nＣ大阪\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t瑞穂陸,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t17,199",スカイパーフェクＴＶ！／ＮＨＫ名古屋（録）／ＮＨＫ大阪（録）／Ｊ ＳＰＯＲＴＳ（録）
...,...,...,...,...,...,...,...,...,...,...,...
301,2006,Ｊ１,第３４節第１日,12/02(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:04,\n清水\n,\n3-0\n,\n広島\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t日本平,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t13,581",テレビ静岡／スカイパーフェクＴＶ！／Ｊ ＳＰＯＲＴＳ（録）
302,2006,Ｊ１,第３４節第１日,12/02(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:04,\n京都\n,\n0-1\n,\n名古屋\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t西京極,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t9,110",ＫＢＳ京都（録）／Ｊ ＳＰＯＲＴＳ（録）
303,2006,Ｊ１,第３４節第１日,12/02(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:04,\nＣ大阪\n,\n1-3\n,\n川崎Ｆ\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t長居２,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t9,278",ＢＳ／毎日放送（録）／Ｊ ＳＰＯＲＴＳ（録）
304,2006,Ｊ１,第３４節第１日,12/02(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:04,\n福岡\n,\n1-1\n,\n甲府\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t博多球,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14,703",ＢＳ－ｉ／Ｊ ＳＰＯＲＴＳ（録）
305,2006,Ｊ１,第３４節第１日,12/02(土),\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14:04,\n大分\n,\n0-1\n,\nＦ東京\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t九石ド,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t20,854",ＭＸテレビ／Ｊ ＳＰＯＲＴＳ（録）

In [215]:
club_and_id

    club_id                  club club_ja
0         1       kashima-antlers      鹿島
1         2            jef-united      千葉
2         3    urawa-red-diamonds      浦和
3         4           tokyo-verdy     東京Ｖ
4         5   yokohama-fa-marinos    横浜FM
5         6      yokohama-flugels     横浜Ｆ
6         7       shimizu-s-pulse      清水
7         8  nagoya-grampus-eight     名古屋
8         9           gamba-osaka     Ｇ大阪
9        10   sanfrecce-hiroshima      広島
10       11        kashiwa-reysol       柏
11       12       shonan-bellmare      湘南
12       13          jubilo-iwata      磐田
13       14     consadole-sapporo      札幌
14       18           vissel-kobe      神戸
15       20          cerezo-osaka     Ｃ大阪
16       21     kawasaki-frontale     川崎Ｆ
17       22              fc-tokyo    FC東京
18       23        avispa-fukuoka      福岡
19       24           kyoto-sanga      京都
20       27          omiya-ardija      大宮
21       28        ventforet-kofu      甲府
22       29     montedio-yamagata      山形
23       31          oita-trinita      大分
24       33            sagan-tosu      鳥栖
25       34           yokohama-fc    横浜FC
26       36      tokushima-vortis      徳島
27       46      matsumoto-yamaga      松本
28       47      v-varen-nagasaki      長崎
29       54        vegalta-sendai      仙台
30       78       albirex-niigata      新潟
31        5   yokohama-fa-marinos     横浜Ｍ
32       21     kawasaki-frontale      川崎
33       22              fc-tokyo     Ｆ東京
34       34           yokohama-fc     横浜Ｃ

In [216]:
df = df.drop({"K/O時刻" ,"大会","インターネット中継・TV放送"}, axis=1) 
df = df.rename(columns={'年度':'Year','節': 'Sec', '試合日': 'Date',  'ホーム': 'Home','スコア':'Score', 'アウェイ': 'Away','スタジアム': 'Stadium', '入場者数': 'Attendances'})

In [217]:
df

,Year,Sec,Date,Home,Score,Away,Stadium,Attendances
0,2006,第１節第１日,03/04(土),\nＧ大阪\n,\n1-1\n,\n浦和\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t万博,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t20,916"
1,2006,第１節第２日,03/05(日),\n甲府\n,\n0-2\n,\n清水\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t小瀬,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14,277"
2,2006,第１節第２日,03/05(日),\nＦ東京\n,\n2-0\n,\n大分\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t味スタ,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t22,531"
3,2006,第１節第２日,03/05(日),\n磐田\n,\n1-1\n,\n福岡\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t静岡,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t28,564"
4,2006,第１節第２日,03/05(日),\n名古屋\n,\n3-2\n,\nＣ大阪\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t瑞穂陸,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t17,199"
...,...,...,...,...,...,...,...,...
301,2006,第３４節第１日,12/02(土),\n清水\n,\n3-0\n,\n広島\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t日本平,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t13,581"
302,2006,第３４節第１日,12/02(土),\n京都\n,\n0-1\n,\n名古屋\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t西京極,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t9,110"
303,2006,第３４節第１日,12/02(土),\nＣ大阪\n,\n1-3\n,\n川崎Ｆ\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t長居２,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t9,278"
304,2006,第３４節第１日,12/02(土),\n福岡\n,\n1-1\n,\n甲府\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t博多球,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t14,703"
305,2006,第３４節第１日,12/02(土),\n大分\n,\n0-1\n,\nＦ東京\n,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t九石ド,"\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t20,854"

In [218]:
df = df.replace({'\t','\r','\n'},'',regex=True)
df

     Year      Sec      Date Home Score Away Stadium Attendances
0    2006   第１節第１日  03/04(土)  Ｇ大阪   1-1   浦和      万博      20,916
1    2006   第１節第２日  03/05(日)   甲府   0-2   清水      小瀬      14,277
2    2006   第１節第２日  03/05(日)  Ｆ東京   2-0   大分     味スタ      22,531
3    2006   第１節第２日  03/05(日)   磐田   1-1   福岡      静岡      28,564
4    2006   第１節第２日  03/05(日)  名古屋   3-2  Ｃ大阪     瑞穂陸      17,199
..    ...      ...       ...  ...   ...  ...     ...         ...
301  2006  第３４節第１日  12/02(土)   清水   3-0   広島     日本平      13,581
302  2006  第３４節第１日  12/02(土)   京都   0-1  名古屋     西京極       9,110
303  2006  第３４節第１日  12/02(土)  Ｃ大阪   1-3  川崎Ｆ     長居２       9,278
304  2006  第３４節第１日  12/02(土)   福岡   1-1   甲府     博多球      14,703
305  2006  第３４節第１日  12/02(土)   大分   0-1  Ｆ東京     九石ド      20,854

[306 rows x 8 columns]

In [219]:
df ["Date"] = df["Date"].replace('\(.+\)','',regex=True)
for index,row in df.iterrows():
    df.at[index,"Date"] = datetime.datetime.strptime(f'{row["Year"]}/{row["Date"]}','%Y/%m/%d')

In [220]:
df

     Year      Sec                 Date Home Score Away Stadium Attendances
0    2006   第１節第１日  2006-03-04 00:00:00  Ｇ大阪   1-1   浦和      万博      20,916
1    2006   第１節第２日  2006-03-05 00:00:00   甲府   0-2   清水      小瀬      14,277
2    2006   第１節第２日  2006-03-05 00:00:00  Ｆ東京   2-0   大分     味スタ      22,531
3    2006   第１節第２日  2006-03-05 00:00:00   磐田   1-1   福岡      静岡      28,564
4    2006   第１節第２日  2006-03-05 00:00:00  名古屋   3-2  Ｃ大阪     瑞穂陸      17,199
..    ...      ...                  ...  ...   ...  ...     ...         ...
301  2006  第３４節第１日  2006-12-02 00:00:00   清水   3-0   広島     日本平      13,581
302  2006  第３４節第１日  2006-12-02 00:00:00   京都   0-1  名古屋     西京極       9,110
303  2006  第３４節第１日  2006-12-02 00:00:00  Ｃ大阪   1-3  川崎Ｆ     長居２       9,278
304  2006  第３４節第１日  2006-12-02 00:00:00   福岡   1-1   甲府     博多球      14,703
305  2006  第３４節第１日  2006-12-02 00:00:00   大分   0-1  Ｆ東京     九石ド      20,854

[306 rows x 8 columns]

In [221]:
df["Sec"] =df["Sec"].replace({'第','節.+日'},'',regex=True).astype(int)
df

     Year  Sec                 Date Home Score Away Stadium Attendances
0    2006    1  2006-03-04 00:00:00  Ｇ大阪   1-1   浦和      万博      20,916
1    2006    1  2006-03-05 00:00:00   甲府   0-2   清水      小瀬      14,277
2    2006    1  2006-03-05 00:00:00  Ｆ東京   2-0   大分     味スタ      22,531
3    2006    1  2006-03-05 00:00:00   磐田   1-1   福岡      静岡      28,564
4    2006    1  2006-03-05 00:00:00  名古屋   3-2  Ｃ大阪     瑞穂陸      17,199
..    ...  ...                  ...  ...   ...  ...     ...         ...
301  2006   34  2006-12-02 00:00:00   清水   3-0   広島     日本平      13,581
302  2006   34  2006-12-02 00:00:00   京都   0-1  名古屋     西京極       9,110
303  2006   34  2006-12-02 00:00:00  Ｃ大阪   1-3  川崎Ｆ     長居２       9,278
304  2006   34  2006-12-02 00:00:00   福岡   1-1   甲府     博多球      14,703
305  2006   34  2006-12-02 00:00:00   大分   0-1  Ｆ東京     九石ド      20,854

[306 rows x 8 columns]

In [222]:
df.insert(6, 'HomeID',np.nan)
df.insert(7, 'AwayID', np.nan)
df

,Year,Sec,Date,Home,Score,Away,HomeID,AwayID,Stadium,Attendances
0,2006,1,2006-03-04 00:00:00,Ｇ大阪,1-1,浦和,NaN,NaN,万博,"20,916"
1,2006,1,2006-03-05 00:00:00,甲府,0-2,清水,NaN,NaN,小瀬,"14,277"
2,2006,1,2006-03-05 00:00:00,Ｆ東京,2-0,大分,NaN,NaN,味スタ,"22,531"
3,2006,1,2006-03-05 00:00:00,磐田,1-1,福岡,NaN,NaN,静岡,"28,564"
4,2006,1,2006-03-05 00:00:00,名古屋,3-2,Ｃ大阪,NaN,NaN,瑞穂陸,"17,199"
...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02 00:00:00,清水,3-0,広島,NaN,NaN,日本平,"13,581"
302,2006,34,2006-12-02 00:00:00,京都,0-1,名古屋,NaN,NaN,西京極,"9,110"
303,2006,34,2006-12-02 00:00:00,Ｃ大阪,1-3,川崎Ｆ,NaN,NaN,長居２,"9,278"
304,2006,34,2006-12-02 00:00:00,福岡,1-1,甲府,NaN,NaN,博多球,"14,703"
305,2006,34,2006-12-02 00:00:00,大分,0-1,Ｆ東京,NaN,NaN,九石ド,"20,854"

In [223]:
for index,row in df.iterrows():
    for i,r in club_and_id.iterrows():
        if row["Home"] == r["club_ja"]:
            df.at[index, "HomeID"] = r["club_id"]
            df.at[index,"Home"] = r["club"]


    for i,r in club_and_id.iterrows():
        if row["Away"] == r["club_ja"]:
            df.at[index,"AwayID"] = r["club_id"]
            df.at[index,"Away"] = r["club"]

df[['HomeID', 'AwayID']] = df[['HomeID', 'AwayID']].astype('int')
df

,Year,Sec,Date,Home,Score,Away,HomeID,AwayID,Stadium,Attendances
0,2006,1,2006-03-04 00:00:00,gamba-osaka,1-1,urawa-red-diamonds,9,3,万博,"20,916"
1,2006,1,2006-03-05 00:00:00,ventforet-kofu,0-2,shimizu-s-pulse,28,7,小瀬,"14,277"
2,2006,1,2006-03-05 00:00:00,fc-tokyo,2-0,oita-trinita,22,31,味スタ,"22,531"
3,2006,1,2006-03-05 00:00:00,jubilo-iwata,1-1,avispa-fukuoka,13,23,静岡,"28,564"
4,2006,1,2006-03-05 00:00:00,nagoya-grampus-eight,3-2,cerezo-osaka,8,20,瑞穂陸,"17,199"
...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02 00:00:00,shimizu-s-pulse,3-0,sanfrecce-hiroshima,7,10,日本平,"13,581"
302,2006,34,2006-12-02 00:00:00,kyoto-sanga,0-1,nagoya-grampus-eight,24,8,西京極,"9,110"
303,2006,34,2006-12-02 00:00:00,cerezo-osaka,1-3,kawasaki-frontale,20,21,長居２,"9,278"
304,2006,34,2006-12-02 00:00:00,avispa-fukuoka,1-1,ventforet-kofu,23,28,博多球,"14,703"
305,2006,34,2006-12-02 00:00:00,oita-trinita,0-1,fc-tokyo,31,22,九石ド,"20,854"

In [224]:
df.insert(8, 'HomeGF', np.nan)
df.insert(9, 'AwayGF', np.nan)

for index,row in df.iterrows():
    home_gf,away_gf = map(int,row["Score"].split("-"))
    df.at[index,"HomeGF"] = home_gf
    df.at[index,"AwayGF"] = away_gf
df[['HomeGF', 'AwayGF']] = df[['HomeGF', 'AwayGF']].astype('int')
df

,Year,Sec,Date,Home,Score,Away,HomeID,AwayID,HomeGF,AwayGF,Stadium,Attendances
0,2006,1,2006-03-04 00:00:00,gamba-osaka,1-1,urawa-red-diamonds,9,3,1,1,万博,"20,916"
1,2006,1,2006-03-05 00:00:00,ventforet-kofu,0-2,shimizu-s-pulse,28,7,0,2,小瀬,"14,277"
2,2006,1,2006-03-05 00:00:00,fc-tokyo,2-0,oita-trinita,22,31,2,0,味スタ,"22,531"
3,2006,1,2006-03-05 00:00:00,jubilo-iwata,1-1,avispa-fukuoka,13,23,1,1,静岡,"28,564"
4,2006,1,2006-03-05 00:00:00,nagoya-grampus-eight,3-2,cerezo-osaka,8,20,3,2,瑞穂陸,"17,199"
...,...,...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02 00:00:00,shimizu-s-pulse,3-0,sanfrecce-hiroshima,7,10,3,0,日本平,"13,581"
302,2006,34,2006-12-02 00:00:00,kyoto-sanga,0-1,nagoya-grampus-eight,24,8,0,1,西京極,"9,110"
303,2006,34,2006-12-02 00:00:00,cerezo-osaka,1-3,kawasaki-frontale,20,21,1,3,長居２,"9,278"
304,2006,34,2006-12-02 00:00:00,avispa-fukuoka,1-1,ventforet-kofu,23,28,1,1,博多球,"14,703"
305,2006,34,2006-12-02 00:00:00,oita-trinita,0-1,fc-tokyo,31,22,0,1,九石ド,"20,854"

In [225]:
df=df.drop("Score", axis=1)

In [226]:
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,Stadium,Attendances
0,2006,1,2006-03-04 00:00:00,gamba-osaka,urawa-red-diamonds,9,3,1,1,万博,"20,916"
1,2006,1,2006-03-05 00:00:00,ventforet-kofu,shimizu-s-pulse,28,7,0,2,小瀬,"14,277"
2,2006,1,2006-03-05 00:00:00,fc-tokyo,oita-trinita,22,31,2,0,味スタ,"22,531"
3,2006,1,2006-03-05 00:00:00,jubilo-iwata,avispa-fukuoka,13,23,1,1,静岡,"28,564"
4,2006,1,2006-03-05 00:00:00,nagoya-grampus-eight,cerezo-osaka,8,20,3,2,瑞穂陸,"17,199"
...,...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02 00:00:00,shimizu-s-pulse,sanfrecce-hiroshima,7,10,3,0,日本平,"13,581"
302,2006,34,2006-12-02 00:00:00,kyoto-sanga,nagoya-grampus-eight,24,8,0,1,西京極,"9,110"
303,2006,34,2006-12-02 00:00:00,cerezo-osaka,kawasaki-frontale,20,21,1,3,長居２,"9,278"
304,2006,34,2006-12-02 00:00:00,avispa-fukuoka,ventforet-kofu,23,28,1,1,博多球,"14,703"
305,2006,34,2006-12-02 00:00:00,oita-trinita,fc-tokyo,31,22,0,1,九石ド,"20,854"

In [227]:
df.insert(9,'W/L',np.nan) 

for index,row in df.iterrows():
        if row["HomeGF"] >row["AwayGF"]:
            df.at[index,"W/L"] = 1
        elif row["HomeGF"] < row["AwayGF"]:
            df.at[index,"W/L"] = 2
        else:
            df.at[index,"W/L"] = 0
            
df['W/L'] = df['W/L'].astype('int')
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances
0,2006,1,2006-03-04 00:00:00,gamba-osaka,urawa-red-diamonds,9,3,1,1,0,万博,"20,916"
1,2006,1,2006-03-05 00:00:00,ventforet-kofu,shimizu-s-pulse,28,7,0,2,2,小瀬,"14,277"
2,2006,1,2006-03-05 00:00:00,fc-tokyo,oita-trinita,22,31,2,0,1,味スタ,"22,531"
3,2006,1,2006-03-05 00:00:00,jubilo-iwata,avispa-fukuoka,13,23,1,1,0,静岡,"28,564"
4,2006,1,2006-03-05 00:00:00,nagoya-grampus-eight,cerezo-osaka,8,20,3,2,1,瑞穂陸,"17,199"
...,...,...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02 00:00:00,shimizu-s-pulse,sanfrecce-hiroshima,7,10,3,0,1,日本平,"13,581"
302,2006,34,2006-12-02 00:00:00,kyoto-sanga,nagoya-grampus-eight,24,8,0,1,2,西京極,"9,110"
303,2006,34,2006-12-02 00:00:00,cerezo-osaka,kawasaki-frontale,20,21,1,3,2,長居２,"9,278"
304,2006,34,2006-12-02 00:00:00,avispa-fukuoka,ventforet-kofu,23,28,1,1,0,博多球,"14,703"
305,2006,34,2006-12-02 00:00:00,oita-trinita,fc-tokyo,31,22,0,1,2,九石ド,"20,854"

In [228]:
df["Attendances"] = df["Attendances"].str.replace(',','').astype(int)
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances
0,2006,1,2006-03-04 00:00:00,gamba-osaka,urawa-red-diamonds,9,3,1,1,0,万博,20916
1,2006,1,2006-03-05 00:00:00,ventforet-kofu,shimizu-s-pulse,28,7,0,2,2,小瀬,14277
2,2006,1,2006-03-05 00:00:00,fc-tokyo,oita-trinita,22,31,2,0,1,味スタ,22531
3,2006,1,2006-03-05 00:00:00,jubilo-iwata,avispa-fukuoka,13,23,1,1,0,静岡,28564
4,2006,1,2006-03-05 00:00:00,nagoya-grampus-eight,cerezo-osaka,8,20,3,2,1,瑞穂陸,17199
...,...,...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02 00:00:00,shimizu-s-pulse,sanfrecce-hiroshima,7,10,3,0,1,日本平,13581
302,2006,34,2006-12-02 00:00:00,kyoto-sanga,nagoya-grampus-eight,24,8,0,1,2,西京極,9110
303,2006,34,2006-12-02 00:00:00,cerezo-osaka,kawasaki-frontale,20,21,1,3,2,長居２,9278
304,2006,34,2006-12-02 00:00:00,avispa-fukuoka,ventforet-kofu,23,28,1,1,0,博多球,14703
305,2006,34,2006-12-02 00:00:00,oita-trinita,fc-tokyo,31,22,0,1,2,九石ド,20854

In [229]:
df.insert(12 ,"HomeElo", np.nan)
df.insert(13,"AwayElo",np.nan)
df.insert(14 ,"HomeED", np.nan)
df.insert(15,"AwayED",np.nan)
df
# for index,row in df.iterrows():
#     df_home = pd.read_csv(f'./elo_rating_data/{row["Home"]}.csv')
#     df_away = pd.read_csv(f'./elo_rating_data/{row["Away"]}.csv')
#     df_home["Month"] = pd.to_datetime(df_home["Month"])
#     df_away["Month"] = pd.to_datetime(df_away["Month"])
#     for i,r in df_home.iterrows():
#         if row["Date"].year == r["Month"].year and row["Date"].month == r["Month"].month:
#             df.at[index,"HomeElo"] = r["Points"]
#             df.at[index,"HomeED"] = r["PD"]
#     for i,r in df_away.iterrows():
#         if row["Date"].year == r["Month"].year and row["Date"].month == r["Month"].month:
#             df.at[index,"AwayElo"] = r["Points"]
#             df.at[index,"AwayED"] = r["PD"]

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeElo,AwayElo,HomeED,AwayED
0,2006,1,2006-03-04 00:00:00,gamba-osaka,urawa-red-diamonds,9,3,1,1,0,万博,20916,NaN,NaN,NaN,NaN
1,2006,1,2006-03-05 00:00:00,ventforet-kofu,shimizu-s-pulse,28,7,0,2,2,小瀬,14277,NaN,NaN,NaN,NaN
2,2006,1,2006-03-05 00:00:00,fc-tokyo,oita-trinita,22,31,2,0,1,味スタ,22531,NaN,NaN,NaN,NaN
3,2006,1,2006-03-05 00:00:00,jubilo-iwata,avispa-fukuoka,13,23,1,1,0,静岡,28564,NaN,NaN,NaN,NaN
4,2006,1,2006-03-05 00:00:00,nagoya-grampus-eight,cerezo-osaka,8,20,3,2,1,瑞穂陸,17199,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02 00:00:00,shimizu-s-pulse,sanfrecce-hiroshima,7,10,3,0,1,日本平,13581,NaN,NaN,NaN,NaN
302,2006,34,2006-12-02 00:00:00,kyoto-sanga,nagoya-grampus-eight,24,8,0,1,2,西京極,9110,NaN,NaN,NaN,NaN
303,2006,34,2006-12-02 00:00:00,cerezo-osaka,kawasaki-frontale,20,21,1,3,2,長居２,9278,NaN,NaN,NaN,NaN
304,2006,34,2006-12-02 00:00:00,avispa-fukuoka,ventforet-kofu,23,28,1,1,0,博多球,14703,NaN,NaN,NaN,NaN
305,2006,34,2006-12-02 00:00:00,oita-trinita,fc-tokyo,31,22,0,1,2,九石ド,20854,NaN,NaN,NaN,NaN

In [230]:
df["Date"]=pd.to_datetime(df["Date"])

In [231]:
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeElo,AwayElo,HomeED,AwayED
0,2006,1,2006-03-04,gamba-osaka,urawa-red-diamonds,9,3,1,1,0,万博,20916,NaN,NaN,NaN,NaN
1,2006,1,2006-03-05,ventforet-kofu,shimizu-s-pulse,28,7,0,2,2,小瀬,14277,NaN,NaN,NaN,NaN
2,2006,1,2006-03-05,fc-tokyo,oita-trinita,22,31,2,0,1,味スタ,22531,NaN,NaN,NaN,NaN
3,2006,1,2006-03-05,jubilo-iwata,avispa-fukuoka,13,23,1,1,0,静岡,28564,NaN,NaN,NaN,NaN
4,2006,1,2006-03-05,nagoya-grampus-eight,cerezo-osaka,8,20,3,2,1,瑞穂陸,17199,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02,shimizu-s-pulse,sanfrecce-hiroshima,7,10,3,0,1,日本平,13581,NaN,NaN,NaN,NaN
302,2006,34,2006-12-02,kyoto-sanga,nagoya-grampus-eight,24,8,0,1,2,西京極,9110,NaN,NaN,NaN,NaN
303,2006,34,2006-12-02,cerezo-osaka,kawasaki-frontale,20,21,1,3,2,長居２,9278,NaN,NaN,NaN,NaN
304,2006,34,2006-12-02,avispa-fukuoka,ventforet-kofu,23,28,1,1,0,博多球,14703,NaN,NaN,NaN,NaN
305,2006,34,2006-12-02,oita-trinita,fc-tokyo,31,22,0,1,2,九石ド,20854,NaN,NaN,NaN,NaN

In [232]:
df_elo =pd.read_csv("./elorating.csv")
df_elo["date"] = pd.to_datetime(df_elo["date"])
df_elo

,date,kashima-antlers,jef-united,urawa-red-diamonds,tokyo-verdy,yokohama-fa-marinos,yokohama-flugels,shimizu-s-pulse,nagoya-grampus-eight,gamba-osaka,...,ventforet-kofu,montedio-yamagata,oita-trinita,sagan-tosu,yokohama-fc,tokushima-vortis,matsumoto-yamaga,v-varen-nagasaki,vegalta-sendai,albirex-niigata
0,2006-02-04,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
1,2006-02-05,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
2,2006-02-06,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
3,2006-02-07,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
4,2006-02-08,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5429,2020-12-16,1594.223262,1406.814733,1489.248259,1397.849598,1543.451143,1380.0,1407.422803,1514.711944,1577.729929,...,1416.814355,1355.973353,1451.023527,1442.465453,1346.598609,1321.483674,1387.968269,1378.033443,1409.584579,1407.1328
5430,2020-12-17,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
5431,2020-12-18,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
5432,2020-12-19,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
5433,2020-12-20,1593.443277,1406.814733,1476.584817,1397.849598,1531.291869,1380.0,1411.310793,1522.935370,1569.236944,...,1416.814355,1355.973353,1457.797334,1453.404568,1355.412654,1321.483674,1387.968269,1378.033443,1417.020628,1407.1328

In [233]:
df_elo =  df_elo.set_index("date")

In [234]:
df_elo

,kashima-antlers,jef-united,urawa-red-diamonds,tokyo-verdy,yokohama-fa-marinos,yokohama-flugels,shimizu-s-pulse,nagoya-grampus-eight,gamba-osaka,sanfrecce-hiroshima,...,ventforet-kofu,montedio-yamagata,oita-trinita,sagan-tosu,yokohama-fc,tokushima-vortis,matsumoto-yamaga,v-varen-nagasaki,vegalta-sendai,albirex-niigata
date,,,,,,,,,,,,,,,,,,,,,
2006-02-04,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
2006-02-05,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
2006-02-06,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
2006-02-07,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
2006-02-08,1500.000000,1500.000000,1500.000000,1380.000000,1500.000000,1380.0,1500.000000,1500.000000,1500.000000,1500.000000,...,1500.000000,1380.000000,1500.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.000000,1500.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-16,1594.223262,1406.814733,1489.248259,1397.849598,1543.451143,1380.0,1407.422803,1514.711944,1577.729929,1532.939422,...,1416.814355,1355.973353,1451.023527,1442.465453,1346.598609,1321.483674,1387.968269,1378.033443,1409.584579,1407.1328
2020-12-17,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,1524.417742,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
2020-12-18,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,1524.417742,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
2020-12-19,1594.223262,1406.814733,1485.202480,1397.849598,1543.451143,1380.0,1399.472579,1514.711944,1581.075158,1524.417742,...,1416.814355,1355.973353,1457.903358,1453.298544,1343.253379,1321.483674,1387.968269,1378.033443,1417.534803,1407.1328
2020-12-20,1593.443277,1406.814733,1476.584817,1397.849598,1531.291869,1380.0,1411.310793,1522.935370,1569.236944,1516.194315,...,1416.814355,1355.973353,1457.797334,1453.404568,1355.412654,1321.483674,1387.968269,1378.033443,1417.020628,1407.1328

In [235]:
for index,row in df.iterrows():
    home_elo = df_elo.loc[row["Date"], row["Home"]]
    away_elo = df_elo.loc[row["Date"], row["Away"]]    
    
    df.at[index,"HomeElo"] = home_elo
    df.at[index,"AwayElo"] = away_elo
    
    home_elo_1mago = df_elo.loc[row["Date"]- pd.tseries.offsets.DateOffset(months = 1), row["Home"]]
    away_elo_1mago = df_elo.loc[row["Date"]- pd.tseries.offsets.DateOffset(months = 1), row["Away"]]
    
    df.at[index,"HomeED"] = home_elo - home_elo_1mago
    df.at[index,"AwayED"] = away_elo - away_elo_1mago
    
df[["HomeElo","AwayElo","HomeED","AwayED"]]=round(df[["HomeElo","AwayElo","HomeED","AwayED"]]).astype(int)

In [236]:
df

,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeElo,AwayElo,HomeED,AwayED
0,2006,1,2006-03-04,gamba-osaka,urawa-red-diamonds,9,3,1,1,0,万博,20916,1500,1500,0,0
1,2006,1,2006-03-05,ventforet-kofu,shimizu-s-pulse,28,7,0,2,2,小瀬,14277,1500,1500,0,0
2,2006,1,2006-03-05,fc-tokyo,oita-trinita,22,31,2,0,1,味スタ,22531,1500,1500,0,0
3,2006,1,2006-03-05,jubilo-iwata,avispa-fukuoka,13,23,1,1,0,静岡,28564,1500,1500,0,0
4,2006,1,2006-03-05,nagoya-grampus-eight,cerezo-osaka,8,20,3,2,1,瑞穂陸,17199,1500,1500,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2006,34,2006-12-02,shimizu-s-pulse,sanfrecce-hiroshima,7,10,3,0,1,日本平,13581,1538,1507,6,30
302,2006,34,2006-12-02,kyoto-sanga,nagoya-grampus-eight,24,8,0,1,2,西京極,9110,1415,1510,-16,24
303,2006,34,2006-12-02,cerezo-osaka,kawasaki-frontale,20,21,1,3,2,長居２,9278,1443,1566,-12,-6
304,2006,34,2006-12-02,avispa-fukuoka,ventforet-kofu,23,28,1,1,0,博多球,14703,1439,1480,-17,-7
305,2006,34,2006-12-02,oita-trinita,fc-tokyo,31,22,0,1,2,九石ド,20854,1501,1469,-19,-2

In [237]:
df.insert(0,"ID",np.nan)
df

,ID,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeElo,AwayElo,HomeED,AwayED
0,NaN,2006,1,2006-03-04,gamba-osaka,urawa-red-diamonds,9,3,1,1,0,万博,20916,1500,1500,0,0
1,NaN,2006,1,2006-03-05,ventforet-kofu,shimizu-s-pulse,28,7,0,2,2,小瀬,14277,1500,1500,0,0
2,NaN,2006,1,2006-03-05,fc-tokyo,oita-trinita,22,31,2,0,1,味スタ,22531,1500,1500,0,0
3,NaN,2006,1,2006-03-05,jubilo-iwata,avispa-fukuoka,13,23,1,1,0,静岡,28564,1500,1500,0,0
4,NaN,2006,1,2006-03-05,nagoya-grampus-eight,cerezo-osaka,8,20,3,2,1,瑞穂陸,17199,1500,1500,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,NaN,2006,34,2006-12-02,shimizu-s-pulse,sanfrecce-hiroshima,7,10,3,0,1,日本平,13581,1538,1507,6,30
302,NaN,2006,34,2006-12-02,kyoto-sanga,nagoya-grampus-eight,24,8,0,1,2,西京極,9110,1415,1510,-16,24
303,NaN,2006,34,2006-12-02,cerezo-osaka,kawasaki-frontale,20,21,1,3,2,長居２,9278,1443,1566,-12,-6
304,NaN,2006,34,2006-12-02,avispa-fukuoka,ventforet-kofu,23,28,1,1,0,博多球,14703,1439,1480,-17,-7
305,NaN,2006,34,2006-12-02,oita-trinita,fc-tokyo,31,22,0,1,2,九石ド,20854,1501,1469,-19,-2

In [209]:
df["ID"] = df["ID"].astype(str)
for index,row in df.iterrows():
    df.at[index,"ID"] = row["Date"].strftime('%y')+str(row["Sec"]).zfill(2)+str(row["HomeID"]).zfill(2)+str(row["AwayID"]).zfill(2)
df

,ID,Year,Sec,Date,Home,Away,HomeID,AwayID,HomeGF,AwayGF,W/L,Stadium,Attendances,HomeElo,AwayElo,HomeED,AwayED
0,06010903,2006,1,2006-03-04,gamba-osaka,urawa-red-diamonds,9,3,1,1,0,万博,20916,1500,1500,0,0
1,06012807,2006,1,2006-03-05,ventforet-kofu,shimizu-s-pulse,28,7,0,2,2,小瀬,14277,1500,1500,0,0
2,06012231,2006,1,2006-03-05,fc-tokyo,oita-trinita,22,31,2,0,1,味スタ,22531,1500,1500,0,0
3,06011323,2006,1,2006-03-05,jubilo-iwata,avispa-fukuoka,13,23,1,1,0,静岡,28564,1500,1500,0,0
4,06010820,2006,1,2006-03-05,nagoya-grampus-eight,cerezo-osaka,8,20,3,2,1,瑞穂陸,17199,1500,1500,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,06340710,2006,34,2006-12-02,shimizu-s-pulse,sanfrecce-hiroshima,7,10,3,0,1,日本平,13581,1538,1507,6,30
302,06342408,2006,34,2006-12-02,kyoto-sanga,nagoya-grampus-eight,24,8,0,1,2,西京極,9110,1415,1510,-16,24
303,06342021,2006,34,2006-12-02,cerezo-osaka,kawasaki-frontale,20,21,1,3,2,長居２,9278,1443,1566,-12,-6
304,06342328,2006,34,2006-12-02,avispa-fukuoka,ventforet-kofu,23,28,1,1,0,博多球,14703,1439,1480,-17,-7
305,06343122,2006,34,2006-12-02,oita-trinita,fc-tokyo,31,22,0,1,2,九石ド,20854,1501,1469,-19,-2

In [210]:
df["ID"]

0      06010903
1      06012807
2      06012231
3      06011323
4      06010820
         ...
301    06340710
302    06342408
303    06342021
304    06342328
305    06343122
Name: ID, Length: 306, dtype: object

In [ ]:
# df.to_csv('./match_data_yearly/2010.csv',index=False)